# MoonDream Evaluation Report


        ## Woman

                      precision    recall  f1-score   support

       False       0.99      0.69      0.81       100
        True       0.76      0.99      0.86       100

    accuracy                           0.84       200
   macro avg       0.87      0.84      0.84       200
weighted avg       0.87      0.84      0.84       200


           ## Man

                         precision    recall  f1-score   support

       False       0.99      0.73      0.84       110
        True       0.75      0.99      0.85        90

    accuracy                           0.84       200
   macro avg       0.87      0.86      0.84       200
weighted avg       0.88      0.84      0.84       200


            ## Person

                          precision    recall  f1-score   support

       False       0.96      0.93      0.95        58
        True       0.97      0.99      0.98       142

    accuracy                           0.97       200
   macro avg       0.97      0.96      0.96       200
weighted avg       0.97      0.97      0.97       200



            