# MoonDream Evaluation Report


        ## Woman

                      precision    recall  f1-score   support

       False       0.99      0.76      0.86      1142
        True       0.56      0.97      0.71       358

    accuracy                           0.81      1500
   macro avg       0.77      0.86      0.78      1500
weighted avg       0.88      0.81      0.82      1500


           ## Man

                         precision    recall  f1-score   support

       False       0.98      0.83      0.89       949
        True       0.76      0.97      0.85       551

    accuracy                           0.88      1500
   macro avg       0.87      0.90      0.87      1500
weighted avg       0.90      0.88      0.88      1500


            ## Person

                          precision    recall  f1-score   support

       False       0.94      0.95      0.94       690
        True       0.96      0.95      0.95       810

    accuracy                           0.95      1500
   macro avg       0.95      0.95      0.95      1500
weighted avg       0.95      0.95      0.95      1500



            