# MoonDream Evaluation Report


        ## Woman

                      precision    recall  f1-score   support

       False       1.00      0.80      0.89        10
        True       0.83      1.00      0.91        10

    accuracy                           0.90        20
   macro avg       0.92      0.90      0.90        20
weighted avg       0.92      0.90      0.90        20


           ## Man

                         precision    recall  f1-score   support

       False       1.00      0.85      0.92        13
        True       0.78      1.00      0.88         7

    accuracy                           0.90        20
   macro avg       0.89      0.92      0.90        20
weighted avg       0.92      0.90      0.90        20


            ## Person

                          precision    recall  f1-score   support

       False       1.00      0.83      0.91         6
        True       0.93      1.00      0.97        14

    accuracy                           0.95        20
   macro avg       0.97      0.92      0.94        20
weighted avg       0.95      0.95      0.95        20
