# MoonDream Evaluation Report


        ## Woman

                      precision    recall  f1-score   support

       False       0.96      0.75      0.84       375
        True       0.79      0.97      0.87       358

    accuracy                           0.86       733
   macro avg       0.87      0.86      0.86       733
weighted avg       0.88      0.86      0.86       733


           ## Man

                         precision    recall  f1-score   support

       False       0.98      0.79      0.88       410
        True       0.79      0.98      0.87       323

    accuracy                           0.88       733
   macro avg       0.89      0.89      0.88       733
weighted avg       0.90      0.88      0.88       733


            ## Person

                          precision    recall  f1-score   support

       False       0.95      0.94      0.95       227
        True       0.97      0.98      0.98       506

    accuracy                           0.97       733
   macro avg       0.96      0.96      0.96       733
weighted avg       0.97      0.97      0.97       733



            